@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


.container {

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

}

.carousel {

  position: relative;

  transition: transform 0.8s;
  transition-delay: 0.3s;
  transition-timing-function: ease;

  @include desktop {

    width: 100%;
  }
}
