@import url('https://fonts.googleapis.com/css?family=Krub:300,400,500');


$image-height: 750px;

//Responsive ish

$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1600px;
$aspetRatio16-9: 56.25%;
$aspetRatio4-3: 75%;