@import '../../styles/mixins.scss';


.root { padding: 1rem; }

.pic {
  
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size: cover;
  
  transition: box-shadow 300ms linear;

  &:hover { box-shadow: -1px 1px 8px black; }

  @include tablet { background-size: cover; }
}