@import '../../styles/mixins.scss';


.root { padding: 1rem; }

.pic {
  
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size: cover;
  
  transition: box-shadow 300ms linear;

  &:hover { box-shadow: 0 24px 95px 0 rgba(38,50,56,0.33)}

  @include tablet { background-size: cover; }
}